<div class="container">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-4" style="color:#FF7800;">


<h1>Your Cart </h1>

<%= link_to 'Back', products_path %>
<br>
<% if @cart.empty? %>
	<p> Your cart is currently empty </p>
	<%else%>
		<%= link_to 'Empty Your Cart', cart_clear_path %>
<% end %>
<% total = 0 %>

<br>
<br>

<ul> 
	<% @cart.each do | id, quantity | %>
	<% product = Product.find_by_id(id) %>
	<li> 
		<%= link_to product.title, product %>
		<%= number_to_currency(product.price, :unit => '$') %>
		Qty = <%= quantity %>
	</li>
	<% total +=  quantity * product.price %>

<% end %>

<p><b><%= number_to_currency(total, :unit => '$') %></b></p>
</ul>

		</div>
    	<div class="col-md-5">
      		<img src="http://i.imgur.com/UJnelaL.png" alt="Smiley Wally" style="width:100%;">

		</div>
	</div>
</div>
