

<div class="container">
  <div class="row">
    <div class="col-md-5">

      <%= link_to 'Back', products_path %>
      <p id="notice"><%= notice %></p>

              <li><div style="color: #2ab29a;"><b><%= link_to @product.title, @product %></b></div></li>
              <li><%= @product.description %></li>
              <li>$ <%= @product.price %></li>
              <li><div><%= image_tag(@product.image_url, :size => "250") %></div></li>
              <li><button class="btn btn-controller"><%= link_to 'Details', @product %></button>
              <button class="btn"><a href="/cart/<%= @product.id %>"> Add To Cart</a></button>
              <%= link_to 'Edit', edit_product_path(@product) %>
              <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
              <br>
              <br>
              <hr>
    </div>
    <div class="col-md-5">
      


    </div>
  </div>
</div>