<!DOCTYPE html>
<html>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Coda:400,800' rel='stylesheet' type='text/css'>

  <title>BulldogShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BuyBuy BullDog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Shop", products_path %></li>
        <li><%= link_to "Why shop with us?", page_about_path %></li>
		<li><%= link_to "FAQ", page_faq_path %></li>
		<li><%= link_to "Get in touch", page_contact_path %></li>         
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        	<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %><li>
        <% else %>
        	<li><%= link_to "Log In", new_user_session_path %></li>
        	<li><%= link_to "Sign Up", new_user_registration_path %></li>

        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- auth alerts devise functionality -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
  <!--   <div class="col-md-2">
      <li><h4>Free Support</h4><p>
        We'll help you figure out which treats and toys are safe for your breed. Just call or e-mail us.</p></li>
      <li><h4>Quality Assurance</h4><p>We check all the produts we ship so you can rely on us. we only source from the most pretentious local organic and gluten free sources</p></li>
      <li><h4>Next Day Devliery</h4>Order before 4pm and your order will be with you the next business day.</li>
    </div> -->
</body>
</html>
