<!DOCTYPE html>
<html>
<head>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Coda:400,800' rel='stylesheet' type='text/css'>


  <title>BulldogShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BuyBuy BullDog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Shop", products_path %></li>
        <li><%= link_to "Why shop with us?", page_about_path %></li>
		<li><%= link_to "FAQ", page_faq_path %></li>
		<li><%= link_to "Get in touch", page_contact_path %></li>         
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        	<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %><li>
        <% else %>
        	<li><%= link_to "Log In", new_user_session_path %></li>
        	<li><%= link_to "Sign Up", new_user_registration_path %></li>

        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- auth alerts devise functionality -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="md-col-6">
      <div class="footerpic">
      </div>
    </div>
    <div class="md-col-6">
      <div class="footer">
      <p>Got any questions?</p>
      <p><b>12345678</b></p>
      <p>We're open 9am to 5pm Monday to Friday<p>
      <p>
      © 2015 BuyBuyBulldog. All Rights Reserved.
      </p>
      <p>
      All third party logos & product images © their respective owners.
      </p>
      <p>
      Checkout the Github for more information. Fork me and adapt for your own Ecommerce project.
      </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
